body{
  background-color: #d4e2ef;  
}

.dashboard{
    padding: 30px;
}

.top{
    display: flex;
    gap: 10px;
}

.top button{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: gray
}

.search{
    background-color: #d4e2ef;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}

.category-div{
    padding: 10px;
}

.widget-div{
    display: flex;
    gap: 10px;
}

button{
    cursor: pointer;
}

.widget{
    /* background-color: #f9f9f9;  */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    /* align-items: center;  */
    /* text-align: center;  */
}

.widget h5{
    padding-left : 20px;
    margin-bottom: -35px;
    font-size: 16px; 
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 100%;
}

.chart{
    padding: 30px;
    margin: 0 auto;
}

/* .widget .chart-div{
    width: 400px;
    height: 200px;
} */

.widget .no-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 300px
}

.widget .no-div img{
    margin-top: 100px;
}

.add-div{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: 300px;
}

.add-div .add-btn{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: gray
}

.add-widget{
    background-color: white;
}

.dialog-header{
    background-color: #0A1172;
    color: whitesmoke;
    padding: 5px;
    padding-left: 15px;
}

.p-dialog-header-close{
    background-color: #0A1172;
    color: whitesmoke;
    padding: 9px;
}

.add-widget form{
    padding: 20px;
    text-align: center;
}

.add-widget form input[type="text"]{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 80%;
    margin-bottom: 10px;
}

.footer-div{
    float: right;
    padding: 8px;
}

.footer-div button{
    margin-left: 5px;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-cancel{
    background-color: white;
}

.btn-confirm{
    background-color: #0A1172;
    color: whitesmoke;
}

.full-screen-dialog {
    width: 35vw;
    height: 100vh;
    margin: 0;
    max-height: 100vh;
    overflow: auto;
}

.add-category-dialog{
    background-color: white;
}